:root {
    --primary-color : #EE4D2D;
    --primary-color-rgba : rgba(238, 77, 45);
    --white-color : #fff;
    --black-color : #000;
    --text-color : #333;
    --heading-padding: 8px;
    --border-color: #dbdbdb;
}

*{
    box-sizing: inherit;
}

html {
    /* default 16px ==> 62.5% = 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'roboto', Sans-serif; /* Font no under leg?*/
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Button */
.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0,0,0, 0.1);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disable {
    cursor:not-allowed;
    color: #c3c3c3;
    background-color: #999;
    user-select: none;
}

.primary {
    color: var(--primary-color) !important;
}