:root {
    --primary-color : #EE4D2D;
    --primary-color-rgba : rgba(238, 77, 45);
    --white-color : #fff;
    --black-color : #000;
    --text-color : #333;
    --heading-padding: 8px;
    --border-color: #dbdbdb;
    --star-gold-color : #ffce3e;


    --header-height : 120px;
    --navbar-height : 34px;
    --header-with-search-height : calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html {
    /* default 16px ==> 62.5% = 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'roboto', Sans-serif; /* Font no under leg?*/
    box-sizing: border-box;
}


/* responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__col-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.667%;
}

.grid__col-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__col-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;
}

/* Animation */
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Button */
.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0,0,0, 0.1);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disable {
    cursor:not-allowed;
    color: #c3c3c3;
    background-color: #999;
    user-select: none;
}

.primary {
    color: var(--primary-color) !important;
}

/* selection */
.select-input {
    position: relative;
    height: 34px;
    padding : 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-input::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 4px;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color :rgb(131,131,131);
    position: relative;
    top: 1px;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    position: absolute;
    z-index: 1;
    top: calc(100% + 4px);
    left: 0;
    list-style-type: none;
    margin: 0;
    background-color: var(--white-color);
    width: 100%;
    padding: 0;
    display: none;
}

.select-input__item {
    --height : 34px;
    font-size: 1.4rem;
    line-height: var(--height);
    color: var(--text-color);
    height: var(--height);
    margin: 0;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.select-input__item:hover{
    background-color: rgba(0,0,0, 0.05);
}

.select-input__link {
    text-decoration: none;
    display: block;
    color : var(--text-color);
    padding: 4px 12px;
    width: 100%;
}

/* Pagination */
.pagination {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item--active.pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 2px;
}

.pagination-item--active.pagination-item__link:hover {
    filter: brightness(90%);
}

.pagination-item__link {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color : #939393;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;

}

.pagination-item__icon {

}

.pagination-section {
    margin-top: 52px;
    margin-bottom: 48px;
}