.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    margin: 0 var(--heading-padding);
    position: relative;
    min-height: 26px;
}


.header__navbar-user{
    display: flex;
    align-items: center;
}

.header__navbar-user:hover .header__navbar-user-setting-list{
    display: block;
}

.header__navbar-avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-name{
    display: flex;
    align-items: center;
}

.header__navbar-user-setting-list {
    position: absolute;
    top: 120%;
    right: 0;
    list-style-type: none;
    width: 160px;
    background-color: var(--white-color);
    color: var(--text-color);
    z-index: 99999;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    display: none;
}

.header__navbar-user-setting-list::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 32px;
    border-width: 10px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-user-setting-item {
    font-size: 1.4rem;
    padding: 4px 8px;
    border-radius: 3px;
}

.header__navbar-user-setting-item a {
    text-decoration: none;
    display: block;
    width: 100%;
}

.header__navbar-user-setting-item:hover {
    background-color: #fafafa;
}

.header__navbar-user-setting-item-seperate {
    border-top: 1px solid #f2f2f2;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #FB9086;
    top: 36%;
    transform: translateY(-50%);
    right: calc(-1 * var(--heading-padding));
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    align-items: center;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 4px;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 6px;
}

.header__navbar-title--no-pointer{
    cursor:text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr {
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
    width: 186px;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}

.header__qr::before,
.header__navbar-item--has-notify::before {
    content: "";
    width:100%;
    position: absolute;
    display: block;
    height: 20px;
    left: 0;
    top: -16px;
}

.header__ar-img {
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content:space-between;

}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2){
    margin-right: 11px;
}

.header__qr--dowload-img {
    height: 15px;
}

/* Notification CODE */
.header__notify{
    position: absolute;
    z-index: 1;
    top: 118%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    -webkit-animation:  headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 10px;
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    background-color: var(--white-color);
    height: 40px;
    user-select: none;
}
.header__notify-header h3 {
    color : #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.1);
}


.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img{
    width: 48px;
    object-fit: content;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}   

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #999;
    margin-top: 1rem;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn{
    margin: auto;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    width: 500px;
    margin: auto;
    position: relative;
    z-index: 1;
    background-color: var(--white-color);
    animation: headerNotifyGrowth linear 0.2s;
}

/* Authen Modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding : 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color : var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form{

}

.auth-form__input.form-invalid {
    border-width: 2px;
    border-color: var(--primary-color);
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top : 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__message {
    color: var(--primary-color);
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside {
    margin-top : 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icons{
    font-size: 1.8rem;
    margin-right: 8px;
}

.auth-form__socials--facebook{
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials--facebook
.auth-form__socials-icons {
    color : var(--white-color);
}

.auth-form__socials--google{
    background-color: var(--white-color);
    color: #666;
}

.btn--with-icon{
    min-width: 45%;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.auth-form__help-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
}

.auth-form__help-separate-line {
    display: block;
    height: 22px;
    margin: -4px 16px 0;
    border-left: 1px;
    border-style: solid;
    border-color: #eaeaea;
}

/* header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
    padding-left: 8px;
}

.header__logo-img {
    width: 150px;
    
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
}

.header__search-input-wrapper{
    flex: 1;
    border-radius: 2px;
    position: relative;
    height: 100%;
}

.header__search-input{
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    padding: 0 16px;
    outline: none;
    border: none;
}

/* .header__search-input:hover .header__search-history{ */
    /* display: block; */
    /* } */
    
.header__search-history{
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    background-color: var(--white-color);
    width: 96%;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(238, 77, 45, 0.1);
    margin: 0;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}
    
.header__search-history-heading{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.25);
    cursor: default;
    padding: 0 16px;
}

.header__search-history-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.header__search-history-item{
    min-height: 40px;
    line-height: 40px;
    padding: 0 16px;
}

.header__search-history-link{
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.header__search-history-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.header__search-selection{
    font-size: 1.4rem;
    line-height: 40px;
    padding: 0 16px;
    width: 144px;
    position: relative;
    cursor: pointer;
}

.header__search-selection::before {
    content: "";
    position: absolute;
    height: 26px;
    line-height: 40px;
    border-left: 1px solid rgba(153, 153, 153, 0.322);
    top: 7px;
    left: 0px;
}

.header__search-selection:hover .header__search-selection-options {
    display: block;
    
}

.header__search-select-label-icon{
    margin: 0 4px;
}

.header__search-selection-options{
    position: absolute;
    font-size: 1.4rem;
    width: 100%;
    top: 100%;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 4px 0 0 ;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 1px rgb(232,232,232);
    display: none;
    z-index: 1;
    
}

.header__search-selection-options::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: transparent;
}

.header__search-selection-option-item{
    line-height: 40px;
    padding: 0 8px;
}

.header__search-selection-option-item:hover{
    background-color: #f7f7f7;
    border-radius: 2px;
}

.header__search-selection-option-item-icon{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 20px;
}

.header__search-icon{
    width: 64px;
    font-size: 2.1rem;
    font-weight: 200;
    background-color: var(--primary-color);
    color: var(--white-color);
    margin: 2px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search-icon:hover {
    opacity: 0.9;
}

.header__cart {
    width: 150px;
    font-size: 2.8rem;
    color: var(--white-color);
    text-align: center;
    position: relative;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 6px);
    right: -38%;
    width: 424px;
    min-height: 300px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.05);
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    -webkit-animation:  headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform; 
    border: 2px; 
    background-color: var(--white-color);
    display: none;
    z-index: 1;
}

.header__cart-list::before {
    content: "";
    border-width: 10px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -20px;
    right: 14px;
}

.header__cart--empty {
    background-image: url('../img/empty_cart.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__cart-wrapper {
    display: inline-block;
    padding: 0 4px;
    position: relative;
}

.header__cart-number-items {
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 1px 7px;
    position: absolute;
    top: -4px;
    right: -10px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 10px;
    border: 2px solid #ee4d2d;
}

.header__cart-icon {
    margin-top: 6px;
    cursor: pointer;
}

.header__cart-wrapper:hover .header__cart-list{
    display: block;
}

.header__cart-header{
    color: #dedede;
    font-size: 1.6rem;
    padding: 16px;
    margin: 0;
    text-align: left;
}

.header__cart-list-items{
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 206px;
    overflow-y: scroll;
}

.header__cart-item{
    padding: 0;
    display: flex;
    height: 66px;
    cursor: default;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-item-img{
    width: 42px;
    margin: 12px;
}

.header__cart-item-detail{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__cart-item-header{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.6rem;
    color: var(--text-color);
    margin-top: 3px;
}

.header__cart-item-price{
    font-size: 1.6rem;
    color: var(--primary-color);
    letter-spacing: 2px;
}

.header__cart-multiply-sign{
    font-size: 1.2rem;
    color: #757575;
    margin: 0 4px 0 2px;
}

.header__cart-item-quantity{
    font-size: 1.6rem;
    color: #757575;
    margin-right: 12px;
}

.header__cart-item-footer{
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.header__cart-item-type{
    font-size: 1.4rem;
    color: #757575;
}

.header__cart-item-remove{
    font-size: 1.6rem;
    color: var(--text-color);
    cursor: pointer;
    margin-right: 12px;
}

.header__cart-item-remove:hover{
    color: var(--primary-color);
}

.header__cart-btn {
    float: right;
    margin: 12px;
}

.header__cart-btn:hover {
    background-color: #F05D41;
}

/* app container */
.app__container {
    background-color: #f5f5f5;
}


/* Home sort + filter */
.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}

.pt-36 {
    padding-top: 36px;
}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style-type: none;
    font-size: 1.6rem;
    margin-left: 9px;
}

.category-item {
    position: relative;
}

.category-item.category-item-active  .category-link{
    color: var(--primary-color) !important;
}

.category-item-active .category-link::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-link {
    position: relative;
    display: block;
    text-decoration: none;
    color : var(--text-color);
    padding: 4px 16px;
    transition: right linear 0.1s;
    right: 0;
}


.category-link:hover {
    right: -4px;
    color: var(--primary-color);
}

.home-filter {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    padding : 12px 22px;
    border-radius: 2px;
}

.home-filter__page {
    display: flex;
    align-items: center;
}

.home-filter__label {
    font-size: 1.4rem;
    color : #555;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 14px;
    min-width: 90px;
}

.home-filter__page {
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}


.home-filter__page-control{
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
}

.home-filter__page-btn{
    flex: 1;
    text-decoration: none;
    display: flex;
    color: #555;
    background-color: var(--white-color);
}

.home-filter__page-btn-disable {
    color: var(--text-color);
    background-color: #f9f9f9;
    cursor:not-allowed;
}

.home-filter__page-btn-disable .home-filter__page-icon{
    color :#ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.5rem;
}

/* Product Items */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative; 
    padding: 4px;
    transition: transform linear 0.2s;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    text-decoration: none;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.05);
}

.home-product-item:hover {
    transform: translateY(-4px);
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.1);
}

.home-product-item__img {
    padding-top: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    margin: 10px;
    display: block;
    /* these 3 lines below only work for some browsers */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* these 2 lines below works for every browser but only in 1 line */
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__link {
    text-decoration: none;
    color: var(--text-color);
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4;
    color : #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0;
}

.home-product-item__action-like {
    font-size: 1.3rem;
    cursor: pointer;
}

i.home-product-item__action-like-icon-fill {
    color: var(--primary-color);
    display: none;
}

.home-product-item__action-liked .home-product-item__action-like-icon-empty {
    display: none;
}

.home-product-item__action-liked .home-product-item__action-like-icon-fill {
    display: inline-block;
}

.home-product-item__action-rate {
    font-size: 1rem;
    transform: scale(0.7);
    transform-origin: right;
    color: #d5d5d5;
    cursor: pointer;
}

i.home-product-item__action-rate-gold {
    color: var(--star-gold-color);
}

.home-product-item__origin {
    margin: 3px 10px 0;
    display: flex;
    justify-content: space-between;
    color : #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1rem;
    padding: 2px 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: 1.4rem;
}

.home-product-item__favorite::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 3px solid var(--primary-color);
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

i.home-product-item__favorite-icon {
    margin-right: 4px;
    font-size: 0.9rem;
}

.home-product-item__sale-off {
    position: absolute;
    right: 2px;
    top: 2px;
    background-color: rgb(250, 216, 0);
    color: rgb(250, 216, 0);
    height: 44px;
    width: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
    opacity: 0.9;
}

.home-product-item__sale-off::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 6px solid currentColor;
    border-right: 26px solid transparent;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    border-top: 6px solid currentColor;
    border-left: 26px solid transparent;
}

.home-product-item__sale-off-value {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(255, 56, 0);
}

.home-product-item__sale-off-title {
    font-size: 1.2rem;
    color: var(--white-color);
}

/* footer section */

.footer {
    border-top : 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--white-color);
}

.footer__header {
    font-size : 1.4rem;
    text-transform: uppercase;
    color : var(--text-color);
}

.footer__list {
    padding-left: 0;
    list-style-type: none;
}

.footer__item {
    margin: 2px 0;
}

.footer__item-link {
    display: block;
    font-size: 1.2rem;
    color: #737373;
    text-decoration: none;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer__item-icon {
    font-size: 1.7rem;
    margin: 0 4px 0 -1px;
}

.footer__item-link:hover {
    color: var(--primary-color);
}

.footer-img-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    top: -4px;
    left: -6px;
}

.footer-img {
    width: 80px;
}

.footer-app-download {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-img-app {

    width: 90%;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 12px 0;
}